*, *::before, *::after {
  box-sizing: border-box;
}

.contact-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}


.wrapper-title {
  display: flex;
  justify-content: center;
  color: $color-main;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  
  z-index: 7;

}

.wrapper-title-line {
  display: flex;
  position: relative;
  border: solid;
  z-index: 20;
  justify-content: center;
  color: $color-main;
  height: 3px;
  width: 40%;
  margin-top: -15px;
}

form {
  display: flex;
  flex-flow: column;

  P {
    margin-top: 6px;
  } 
}

input {
  margin-top: -6px;
  border: solid;

}

.btn {
  background-color: $color-main;
  margin: 25px;
  color: #fff;
  border-radius: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

form > * {
  padding: 5px;
  text-align: center;
}