*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-size: 14px;
  line-height: 1.7;
  box-sizing: border-box;
  
}

.container {
  
  max-width: 1800px;
  // height: 600px;
  margin: auto;
  
}