*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  box-sizing: border-box;
  
}

.container {
  padding: 10px;
  max-width: 1800px;
  // height: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

