*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  position: relative;
}

.container img {
  position: absolute;
  filter: brightness(45%);
  width: 97%;
  //height: 700px;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-wrapper {
  position: relative;
  z-index: 2;
}

.header-logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  line-height: 20px;
  color: $color-light;
}

.logo__title {
  font-size: 20px;
  padding-top: 50px;
  letter-spacing: 5px;
  word-spacing: 1px;
  font-weight: bolder;
}

.logo__subtitle {
  font-size: 10px;
  letter-spacing: 4px;
  word-spacing: 1px;
  font-weight: bold;
  font-family: $font-family;
}

.navigation ul {
  list-style-type: none;
  letter-spacing: 2px;
  font-family: $font-family;
  font-weight: bold;
  margin-left: auto;
  line-height: 20px;
  word-spacing: 10px;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  text-decoration: none;
  color: $color-main;
  z-index: 20;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  padding-top: 15%;
  font-family: $font-family;
  font-weight: 800;

  .row-one {
    margin: 0;
    padding-right: 20%;
    font-weight: 700;
    color: $color-main;
    letter-spacing: 4px;
  }

  .row-two {
    margin: 0;
    padding-left: 20%;
    z-index: 10;
    font-weight: 700;
    color: $color-main;
    letter-spacing: 4px;
  }


  .header-line {
    position: relative;
    justify-content: center;
    background-color: $color-main;
    height: 5px;
    width: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.button {
  display: block;
  justify-content: flex-end;
  color: $color-light;
  letter-spacing: 5px;
  margin-bottom: 0;
  padding-top: 10%;
}

.button-title {
  font-size: 20px;
}

.button i {
  color: $color-light;
  font-size: 20px;
}