@media (max-width: 991px) {
  .header img {
    position: relative;
    max-height: 100%;
  }

  .main-nav {
    flex-wrap: wrap;
    font-size: 12px;
  }

  .header-title {
    padding-bottom: 20px;

    .row-one {
      font-size: 25px;
      letter-spacing: 4px;
    }

    .row-two {
      font-size: 25px;
      text-align: center;
      letter-spacing: 4px;
      margin-left: 0;
    }
  }

  .products-title h1 {
    display: flex;
    margin-top: 50px;
  }

  .skill-right {
    display: flex;
  }

  .skill-image {
    max-width: 100%;
    padding: 0;
    position: relative;
    flex-direction: column;
  }

  .button {
    display: flex;
    font-size: 10px;
    display: none;

  }

  .skill-description {
    display: flex;
    margin: 0;
    min-width: 100%;
    margin: auto;

    p {
      font-size: 10px;
    }

    h3 {
      font-size: 15px;
    }

    .power p {
      font-size: 10px;
    }
  }

  .skill-left-description {
    display: block;
    margin: 0;
    min-width: 100%;

    p {
      font-size: 10px;
    }

    h3 {
      font-size: 15px;
    }

    .power p {
      font-size: 10px;
    }
  }
}

@media (min-width: 991px) {
  .header img {
    position: relative;
    max-height: 100%;
  }
}