*, *::before, *::after {
  box-sizing: border-box;
}

.products-wrapper {
  [class^="skill-"] {
    position: relative;
  }
}

.products-title{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}  

.products-title h1 {
  color: #c2b280;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  border-color: #c2b280;
}

.products-line {
  position: relative;
  background-color: #c2b280;
  height: 4px;
  width: 30%;
  margin-top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.skill-container {
  padding: 50px;
  margin: 20px;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  
}

.skill-image img {
  width: 70%;
  height: 70%;
  object-fit: cover;

}

// .skill-right .skill-image {
//   left: 0;
// }

// .skill-left .skill-description {
//   padding: 36px 55% 36px 0;
//   text-align: right;
// }

// .skill-right .skill-description {
//   padding: 36px 0 36px 55%;
//   text-align: left;
// }